name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  create_release:
    name: Create release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2

  #      - name: Output release url file
  #        run: echo "${{ steps.create_release.outputs.upload_url }}" > release_url.txt

  #      - name: Save release url file for publish
  #        uses: actions/upload-artifact@v1
  #        with:
  #          name: release_url
  #          path: release_url.txt

  publish_pypi:
    name: Build and publish package
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      # For PyPI's trusted publishing.
      id-token: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7
        with:
          enable-cache: true

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish
